.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  background-color: white;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 233, 233);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-title {
  font-family: Roboto;
  font-size: 10px;
}

@media (min-width: 1200px) {
  .sidebar {
    width: 150px;
  }

  .sidebar-link {
    flex-direction: row;
    height: 50px;
    justify-content: start;
    padding-left: 20px;
  }

  .sidebar-title {
    font-family: Roboto;
    font-size: 12px;
    padding-left: 10px;
  }
}
