.thumbnail {
  width: 100%;
  display: block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 45px;
}

.video-title {
  font-size: 14px;
  margin-left: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.username,
.stats {
  font-size: 12px;
  margin-left: 12px;
  color: rgb(96, 96, 96);
}

.username {
  margin-bottom: 4px;
}

.username-link {
  text-decoration: none;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic {
  width: 36px;
  border-radius: 25px;
}

.channel-pics {
  position: relative;
  display: inline-block;
}

.channel-pic-tooltip {
  background-color: white;
  width: 200px;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 55px;

  z-index: 300;
  opacity: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  transition: opacity 0.15s;
}

.channel-pics:hover .channel-pic-tooltip {
  opacity: 1;
}

.profile-pic-tooltip {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}

.author-tooltip {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 4px;
}

.subs-tooltip {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 13px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 5px;
}
